<% provide :title, t(".title") %>
<h1><%= t(".sample_app") %></h1>
<p><%= t(".home_page") %>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  <%= t(".application") %>
</p>
<%= link_to t(".sign_up"), "#", class: "btn btn-lg btn-primary" %>
